@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Intranet de IST" />
    <meta name="author" content="IST Internacional" />
    <title>Intranet IST</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<div class="text-lg-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.udemy.com/course/master-en-aspnet-core-31-mvc-entity-framework/learn/lecture/42797294#overview">Udemy</a></p>
</div>