@{
    ViewData["Title"] = "IST2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Intranet de IST" />
    <meta name="author" content="IST Internacional" />
    <title>Intranet IST</title>
</head>

<div class="text-center">
    <h2 class="display-4"><b>IST INTERNACIONAL SAS</b></h2>
    <div class="row">
        <!-- Imagen centrada y responsiva -->
        <div class="img-tecnologia">
            <img src="~/Assent/ist/ist.png" alt="Imagen de lado a lado" class="img-tecnologia">
            <p>
                Síguenos en nuestra página web
                <br />
                <a href="https://www.ist-internacional.com/" target="_blank" style="font-weight: bold; text-decoration: underline;">IST INTERNACIONAL SAS</a>
        </div>
    </div>
</div>

<!-- Contenedor para los párrafos -->
<div class="col-12 mt-3 text-justify" style="font-size: 20px; line-height: 1.8; margin-top: 20px;">
    <p>
        Es una Compañía Colombiana que desarrolla su misión en el mercado Industrial de América Latina. Nuestras oficinas principales están localizadas en Bogotá, Colombia y estamos en una continua expansión a través de subsidiarias en los Estados Unidos de América y Perú.
    </p>
</div>





